* {
    font-family: 'Times New Roman', Times, serif; 
    font-weight: 100;
}

body{
    background: radial-gradient(circle,#fff,#bbb);
}

.grid-container{
    background: #444;
    margin: 500px;
    display: grid;
    grid-template-areas: 
    "header header header"
    "main aside aside"
    "main aside aside";
    grid-template-rows: 1fr 1fr 1fr ;
    height: 92vh;
}

.grid-item{
    padding: 300px;
}

.grid-header{
    background-color:#fff ;
    grid-area: header;
}

.grid-main{
    background-color:#2FA38E ;
    grid-area: main;
    padding: 200px;
}

.grid-aside{
    background-color:#1CD8B6 ;
    grid-area: aside;
    padding: 500px;
}

.info{
    color:#2FA38E ;
    font-size: 100px;
    width: 1000px;
    display: block;
    position: relative;
    right: 100px;
    top: -100px;
    left:50px;
}

.info2{
    color: #7fff00;
    font-size: 80px;
    width: 1500px;
    display: block;
    position: relative;
    right: 100px;
    top: -50px;
    left:50px;
}  

.info3{
    color: #000;
    font-size: 70px;
    width: 2500px;
    display: block;
    position: relative;
    right: 100px;
    top: -50px;
    left:50px;
}

.info4{
    color: #000;
    font-size: 70px;
    width: 2000px;
    display: block;
    position: relative;
    right: 100px;
    top: -50px;
    left: 50px;
}

.linea{
    color: #fff;
    font-size: 100px;
    width: 2000px;
    display: block;
    position: relative;
    right: 100px;
    top: -100px;
    left: 50px;
    left:50px;
}


.linea2{
    color: #fff;
    font-size: 200px;
    width: 2000px;
    display: block;
    position: relative;
    right: 100px;
    top: -200px;
    left:50px;
}

.linea3{
    color: #fff;
    font-size: 100px;
    width: 2000px;
    display: block;
    position: relative;
    right: 100px;
    top: -200px;
    left:50px;
}

.botom{
    background-color: #7fff00;
    color: #fff;
    font-size: 100px;
    width: 2000px;
    padding:250px;
    border-radius: 50px;
    display:inline-block;
    position: relative;
    left: 500px;
    top: -100px;
    cursor:pointer;
}

.botom::before{
    content: Sing Up;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.aside1{
    color: #fff;
    font-size: 100px;
    width: 1000px;
    display: block;
    position: relative;
    right: 100px;
    top: -200px;
    left:50px;
}

.aside2{
    color: #fff;
    font-size: 80px;
    width: 1000px;
    display: block;
    position: relative;
    right: 100px;
    top: -200px;
    left:50px;
}

.aside3{
    color: #fff;
    font-size: 80px;
    width: 1000px;
    display: block;
    position: relative;
    right: 100px;
    top: -200px;
    left:50px;
}

.aside4{
    color: #fff;
    font-size: 80px;
    width: 1000px;
    display: block;
    position: relative;
    right: 100px;
    top: -200px;
    left:50px;
}

.aside5{
    color: #fff;
    font-size: 80px;
    width: 1000px;
    display: block;
    position: relative;
    right: 100px;
    top: -200px;
    left:50px;
}

.aside6{
    color: #fff;
    font-size: 80px;
    width: 1000px;
    display: block;
    position: relative;
    right: 100px;
    top: -200px;
    left:50px;
}

.aside7{
    color: #fff;
    font-size: 80px;
    width: 1000px;
    display: block;
    position: relative;
    right: 100px;
    top: -200px;
    left:50px;
}

.aside8{
    color: #fff;
    font-size: 80px;
    width: 1000px;
    display: block;
    position: relative;
    right: 100px;
    top: -200px;
    left:50px;
}
header{
    font-size: 50px;
    font-family: 'Times New Roman';
    text-align: center;
    width: 100%;
}
#navegacion{
    padding: 20px;
}
#navegacion ul{
    list-style: none;
    text-align: center;
}
#navegacion li{
    display: inline;
    text-align: center;
    margin: 0px 25px 0px 0px ;
}
#navegacion li a{
    padding: 10px 50px 10px 50px;
    color: #fff;
    background-color: #25ac;
    border: 4px solid #000;
    text-decoration: none;
}